/* Importing Utilities */

@import url("/style/utils.css");

.contact__grid {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.contact__left,
.contact__right {
    flex: 50%;
}

.contact__left {
    display: flex;
    justify-content: center;
}

.contact__right h2 {
    color: #000;
}

.contact__column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}